<div id="footer">
	<!--
	<p>Copyright (c) 2012 E-Fest. All rights reserved. Developed by <a href="http://www.pulkitgupta.net">Pulkit Gupta</a>.</p>
	<img src="images/copyright.png"> 
	-->
	<p> (C) All rights reserved with <a href="http://efest.in">efest.in</a></p>
</div>