<head>
	<script language="JavaScript" 
	type="text/JavaScript">
 		if(navigator.appName != "Netscape")
		{	
			 window.location = "/browser"
		}
	</script>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<title><% if(locals.title){%><%=locals.title%><% }else{ %><%}%> Efest</title>

<link href='/stylesheets/googlefont.css' rel='stylesheet' type='text/css' />
<link href='/stylesheets/googlefont2.css' rel='stylesheet' type='text/css' />
<link href="/stylesheets/default.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>


<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>