<link type="text/css" rel="stylesheet" href="stylesheets/slideshow/rhinoslider-1.05.css" />    
<script type="text/javascript" src="javascripts/slideshow/rhinoslider-1.05.min.js"></script>
<script type="text/javascript" src="javascripts/slideshow/mousewheel.js"></script>
<script type="text/javascript" src="javascripts/slideshow/easing.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#slider').rhinoslider({
			effect: 'fade',
			controlsMousewheel: false,
			controlsPlayPause: false,
			autoPlay: true,
			pauseOnHover: false,
			showBullets: 'never',
			captionsOpacity: 0.8,
			captionsFadeTime: 2000,
			showCaptions: 'always'
		});
	});
</script>

<div id="page2">
	<ul id="slider">
	<li>
		<img width=928 height=400 src="images/slider/s1.jpg" alt="" />
		<div class="rhino-caption">An Individual</div>
	</li>
	<li>
		<img width=928 height=400 src="images/slider/s2.jpg" alt="" />
		<div class="rhino-caption">Group of persons</div>
	</li>
	<li>
		<img width=928 height=400 src="images/slider/s3.jpg" alt="" />
		<div class="rhino-caption">Maximum upto 5 persons</div>
	</li>	
	<li>
		<img width=928 height=400 src="images/slider/s4.png" alt="" />
		<div class="rhino-caption">Enjoy fireworks</div>
	</li>	
	</ul>
</div>