<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<% include elements/head %>
<script src="javascripts/wufoo.js"></script>
<link href="stylesheets/form.css" rel="stylesheet">
<body>

<% include elements/header %>
	<script type="text/javascript">
	
		 document.body.onkeypress = enterKey;
		 function enterKey(evt) { 
			 var evt = (evt) ? evt : event 
			 var charCode = (evt.which) ? evt.which : evt.keyCode 
			 if (charCode == 13) { 
				 submitform();
			 } 
		 } 
    </script>

    <div id="page-wrapper">
	<div id="page">
		<div id="content">
									
			<div>
			
			<form id="form" name="form" class="wufoo topLabel page" autocomplete="on" enctype="multipart/form-data" method="post" action="/forgotprocess">
			
			<header id="header" class="info">
			<h2> Forgot Password </h2>
						
			</header>
			
			<ul>
				
				<li id="foli0" class="notranslate      ">
					<label class="desc" id="title0" for="firstname">
						Email ID<span id="req_2" class="req">*</span>
					</label>					
					<span>
						<input id="email" name="email" type="text" class="field text ln" value="" size="30" tabindex="1" />
					</span>
				</li>										
				<p><%=msg%></p>													

				<p class="button-style"><a href="javascript: submitform() " tabindex="3">Send Email</a> </p> 
								
			</ul>
			
			</form>
			
			<script type="text/javascript">
			
			function ValidateEmail(mail)   
			{  
			 if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))  
			  {  
			    return (true)  
			  }  			    
			    return (false)  
			}  
			
			function submitform()
			{
				//var x=document.forms["form"].email.value;
				var email=document.getElementById("email").value;				

				if(!ValidateEmail(email))
				{
					alert("You have entered an invalid email address!")  
				}				
				else
				{
				    document.forms["form"].submit();
				}
			}
						
			</script>
			
			</div>
		
		</div>
		<div id="sidebar">
			<h2>INFO</h2>
			</br>
			<ul class="style1">
				<li class="first">
					<p>Enter the email ID which was registered by you on this website</p>
				</li>
				<li>
					<p><a href="#">You should have access to your email ID in order to rest your password</p>
				</li>
				
			</ul>
		</div>
	</div>
</div>

<% include elements/footer %>
</body>
</html>
