<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<% include elements/head %>
<link href="stylesheets/jquery-ui-1.9.0.custom.css" rel="stylesheet">
<script src="javascripts/sliderpage/jquery-1.8.2.js"></script>
<script src="javascripts/sliderpage/jquery-ui-1.9.0.custom.js"></script>
<script src="javascripts/table/jquery.tablesorter.js"></script>
<link href="stylesheets/tables/style.css" rel="stylesheet">
<script>
	$(document).ready(function() 
       { 
          $("#myTable").tablesorter();        		
	  $( "#dialog" ).dialog({ autoOpen: false,
	    	    	resizable: false,
        		height:400,
        		width: 700,
        		show: "scale",
        		modal: true,
            		buttons: {"Start": function() { 
            				var cgid=document.getElementById("currentgame").value;            					
            				window.location.href = "/play?q="+cgid;
            				
            				},
                		  "Back": function() {  $( this ).dialog( "close" );}	
                		  }
        	 
        	});	          
       
       });


</script>

<style type="text/css">
	//#footer-content{height: 300px;}
</style>

<body>	
<% include elements/header %>

<div id="page-wrapper">
	<div id="content">
	<div id="dialog" title="Important Message"><p>Once started, minimum session will be of 1 Hour excluding the case you are resuming your session.</p>
		</br>
		<strong>Please note:</strong> Google Chrome web browser is highly-recommended. Login using Google Chrome. Other web browsers may have performance issue.<br></br>
		In case, You do not have <strong>Google-Chrome</strong>, <a href="https://www.google.com/intl/en/chrome/browser/">please download from here</a>.
		</br></br>
		Please disable any <strong>Firewall or Anti-virus</strong> running on your system, that might block your connection to server.
		</br></br>
		
		<p id="message_user"></p>
	</div>
	
	
	
		<div align = center>
			</br>
			<h3>Your registered Celebrations</h3>			
			 
		</div>
	</div>		
	<div id="sidebar">			
		<p class="button-style"><a href="/member">Back</a></p>
		<p class="button-style"><a href="/logout">Logout</a></p>			
	</div>
</div>


<input type="hidden" id="dgame" class ="n" value="<%=locals.obj%>">
<input type="hidden" id="currentgame" class ="n" value="">
<div id="footer-wrapper">
	<div id="footer-content">					
		</br></br>
		<table id="myTable" class="tablesorter"> 
		<thead> 
		<tr> 
		    <th>Celeb ID</th> 		    		    
		    <th>User1</th><th>User2</th> <th>User3</th> <th>User4</th>
		    <th>Started Time </th><th>Started By</th> <th>Status</th> <th>Action</th> 
		</tr> 
		</thead> 
		<tbody> 		
		<tr> 
		<script>
		function reply_click(id)
		{
			document.getElementById("currentgame").value=id;
			document.getElementById("message_user").innerHTML="Celebration ID of the session: <strong>"+id+"</strong>";
			$( "#dialog" ).dialog( "open" );			
		}
		
		
		var locals = JSON.parse(document.getElementById("dgame").value);		
		var button_name="Start", disString=" ";
		var color=0;
		for(var i=locals.rows-1;i>=0;i=i-1){						
			
			if(locals.game[i]!=undefined)
			{
				color++;
				if(color%2==0)
				var strvar='<td class="even">';
				else
				var strvar='<td class="odd">';							
				document.write(strvar+locals.game[i].gameid+"</td>");					
				
				for(j=0;j<4;j++){
					document.write(strvar+locals.user[i][j]+"</td>");
				}
				
				document.write(strvar+locals.game[i].started_string+"</td>");
				document.write(strvar+locals.game[i].started_by+"</td>");
				document.write(strvar+locals.game[i].status+"  </td>");
				
				if(locals.game[i].status=="Ready")
				{button_name="Start"; disString="";}
				else if(locals.game[i].status=="Running")
				{button_name="Join"; disString="";}
				else if(locals.game[i].status=="Expired")
				{button_name="Expired";disString="disabled";}
				
				document.write(strvar+"<button id="+locals.game[i].gameid+" "+disString+" style='width: 100px' onClick='reply_click(this.id)'>"+button_name+"</Button> </td>");						
				document.write('</tr>');
			}	
				
		}	
		</script>
		</tbody> 
</table> 
			
	</div>
</div>

<% include elements/footer %>
</body>
</html>
