<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script language="JavaScript" 
type="text/JavaScript">
 	if(navigator.appName != "Netscape")
	{
		 window.location = "/browser"
	}
</script>

<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />

<title>Virtual Diwali(E-crackers)</title>
<link href='/stylesheets/googlefont.css' rel='stylesheet' type='text/css' />
<link href='/stylesheets/googlefont2.css' rel='stylesheet' type='text/css' />



<link href="/stylesheets/fireworks.css" rel="stylesheet" type="text/css" media="all" />
<link type="text/css" rel="stylesheet" media="all" href="stylesheets/chat/chat.css" />


<link href="/stylesheets/default.css" rel="stylesheet" type="text/css" media="all" />
<style type="text/css">	
	#logo {width: 400px;}
	#menu {width: 450px;}
	#r1 {cursor: pointer}
	#r2 {cursor: pointer}
	#r3 {cursor: pointer}
    #r4 {cursor: pointer}
    #r5 {cursor: pointer}
    #r6 {cursor: pointer}
    #r7 {cursor: pointer}
    #r8 {cursor: pointer}
    #r9 {cursor: pointer}
    #r10 {cursor: pointer}#r11 {cursor: pointer}#r12 {cursor: pointer}#r13 {cursor: pointer}#r14 {cursor: pointer}        
    #r15 {cursor: pointer}#r16 {cursor: pointer}#r17 {cursor: pointer}
        
	#header-wrapper {
		overflow: hidden;
		height: 50px;
	}
	
	#header {
		width: 1000px;
		height: 80px;
		margin: 0 auto;
		padding: 0px 0px;
	}
	#menu time {
		display: block;
		height: 100px;
		width: 150px;
		margin-left: 0px;
		padding: 0px 0px 0px 100px;
		line-height: 80px;
		text-decoration: none;
		text-align: right;
		text-transform: uppercase;
		font-family: 'Oswald', sans-serif;
		font-size: 25px;
		font-weight: 300;
		color: #FFE1EF;
}
</style>

<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->


<script type="text/javascript" src="javascripts/js/jquery.js"></script>
<script type="text/javascript" src="javascripts/shop/jquery.min.js"></script>
        <script type="text/javascript" src="javascripts/shop/jquery-ui.min.js"></script>
<script type="text/javascript" src="javascripts/shop/jquery.sidebar.js"></script>
 <script type="text/javascript" src="javascripts/js/chat.js"></script> 
<script src="javascripts/socket.io.js"></script>
<script>
	var socket = io.connect('http://efest.in:3000');	          		  	 
	var user;
	window.onload = function() {
	
		user=JSON.parse(document.getElementById("dobj").value);
		console.log("value of object gameid is"+user.gameid);  	
		
		socket.on(user.gameid+"disconnect", function(data){	  
			if(data=="serverorder")
			{
				setTimeout(function(){
				window.location.href = "/mycelebrations";
				},7000);
			}	
  		});
  			
  		socket.on('disconnect', function(data){
  		console.log("I am disconnected!");
  		
  		});
        	 // initiallizing the friends socket at server
  		socket.emit('addmygame',user);			
  		socket.on(user.gameid+"info",function(data){
  			
			if(data.event=="photo"){
  				var mail = data.mail; var action = data.action;
  				console.log("value came is"+mail);
  				if(action=="gone")
  				{  					
  					console.log("gone");
  					var imggone;  					
  					for(i=1;i<=4;i++)
  			      		{
  			      			imggone= document.getElementById('user'+i).src;
						imggone = imggone.split("/");  			      		
						imggone=imggone[imggone.length-1];
  			      			console.log("image checked is "+imggone);
  			      			
  			      			if(imggone==mail+".jpg")  			      			
	 			      		{
	 			      			$("#user"+i).attr('src', "users/user.jpg" );  			  			        			        		
	 			      			break;
	 			      		}	
  			      		}	
  			      	}
  			      	else if(action=="come")
  			      	{
  			      		console.log("come");
  			      		
  			      		var imgcome;  			      		
  			      	
  			      		for(i=1;i<=4;i++)
  			      		{
  			      			imgcome= document.getElementById('user'+i).src;
						imgcome = imgcome.split("/");  			      		
						imgcome=imgcome[imgcome.length-1].split('.')[0];
		  			      	console.log("image come checking is "+imgcome);
  			      			if(imgcome=="user")  			      			
	 			      		{
	 			      			$("#user"+i).attr('src', "users/"+mail+".jpg" );  			  			        			        		
	 			      			break;
	 			      		}	
  			      		}	
  			      	}
  			}
  			else if(data.event=="time"){
  				document.getElementById('timeleft').innerHTML = "&nbsp;"+String(data.val.min)+":"+String(data.val.sec)+"&nbsp;&nbsp; MIN Left";  		
  			}  			  
  		});
		console.log("testing value of img1 src ="+document.getElementById('user1').src);		
		Fireworks.initialize();		
		chatWith('ChatRoom');
     		$("ul#shop").sidebar();        				
     		//$("ul#shop2").sidebar({position:"right"}); 
     		$("#r1").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 1});	
		});	
		$("#r2").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 2});	
		});	
		$("#r3").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 3});	
		});	
		$("#r4").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 4});	
		});	
		$("#r5").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 5});	
		});	
		$("#r6").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 6});	
		});	
		$("#r7").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 7});	
		});
		$("#r8").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 8});	
		});
		$("#r9").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 9});	
		});
		$("#r10").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 10});	
		});
		$("#r11").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 101});	
		});
		$("#r12").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 102});	
		});
		$("#r13").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 103});	
		});
		$("#r14").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 104});	
		});
		$("#r15").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 105});	
		});	
		$("#r16").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 106});	
		});			
		$("#r17").click(function(){
			socket.emit(user.gameid, {event: "setcracker", type: 11});	
		});			
		
	};  //windows onload
///////////////////////////////////////////design	
</script>

</head>
<body>
<div id="header">
	<div id="logo">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<img id="user1" name="user1" width="80" height="80" src="users/user.jpg"></img>
		<img id="user2" name="user2" width="80" height="80" src="users/user.jpg"></img>
		<img id="user3" name="user3" width="80" height="80" src="users/user.jpg"></img>
		<img id="user4" name="user4" width="80" height="80" src="users/user.jpg"></img>
	</div>
	<div id="menu">
		<ul>			
			<li><a href="/member" accesskey="2" title="">Exit</a></li>
			<li><time id="timeleft"></time></li>
		</ul>
		
	</div>
</div>
 
 <link rel="stylesheet" type="text/css" href="stylesheets/shop/sidebar.css" />

 <ul id="shop2" > 
 </ul>
 <ul id="shop" >  
 		</br></br></br>
 		<h3><strong>Select Cracker</strong></h3></br>            
 		
            <li id="r1">Peony Comet Rocket</li>
            <li id="r2">Bees Comet Shots</li>            
            <li id="r3">Comet splash Shots</li>            
            <li id="r4">Sparkle comet 7 Shots</li>
            <li id="r5">Freeze Palm Rocket</li>
            <li id="r6">Freeze spider Rocket</li> 
            <li id="r7">Whistle 50 Comets</li>
            <li id="r8">Whistle 50 Bees</li>
            <li id="r9">200 Shots</li>            
            <li id="r10">1000 Shots</li>           
            <li id="r11">Multi-Colour Fountain</li>            
            <li id="r12">Fire-shade Fountain</li>            
            <li id="r13">Red Fountain</li>            
            <li id="r14">Green Fountain</li>            
            <li id="r15">Violet sparkle Fountain</li>                        
            <li style="color: red" id="r16">Mega Magic Fountain</li>            
            <li style="color: red" id="r17">Sky multi-sparks</li>
		</br> 	     
                         
  </ul>
        <script type="text/javascript">
        		
        		
        </script>



<div id="page-wrapper">
	<div id="content">
		
	</div>
</div>

 <!-- Hiding library elements in the DOM is fun -->
     <aside id="library">
       <img src="images/nightsky.png" id="nightsky" />
       <img src="images/big-glow.png" id="big-glow" />
       <img src="images/small-glow.png" id="small-glow" />
     </aside>         
   <input type="hidden" id="dobj" name="dobj" value="<%=locals%>">        
   </body>
   <script src="javascripts/sound_script/soundmanager2.js"></script>
   <script src="javascripts/requestanimframe.js"></script>   
   <script src="javascripts/fireworks.js"></script>
   <script src="javascripts/fireworks_help1.js"></script>
  
 </body>
</html>
