<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<% include elements/head %>
<script src="javascripts/wufoo.js"></script>
<link href="stylesheets/form.css" rel="stylesheet">
<body>
<% include elements/header %>
	<script type="text/javascript">
	
		 document.body.onkeypress = enterKey;
		 function enterKey(evt) { 
			 var evt = (evt) ? evt : event 
			 var charCode = (evt.which) ? evt.which : evt.keyCode 
			 if (charCode == 13) { 
				 submitform();
			 } 
		 } 
    	</script>
</div>
<div id="page-wrapper">
	<div id="page">
		<div id="content">
									
			<div>
			
			<form id="form" name="form" class="wufoo topLabel page" autocomplete="on" enctype="multipart/form-data" method="post" action="newpassword">
			
			<header id="header" class="info">
			<h2> New Password </h2>
						
			</header>
			
			<ul>
				<input id="resetlink" name="resetlink" type="hidden" class="field text ln" value="<%=resetlink%>" size="30" />
				<li id="foli0" class="notranslate      ">
					<label class="desc" id="title0" for="password">
						Password<span id="req_2" class="req">*</span>
					</label>					
					<span>
						<input id="password" name="password" type="password" class="field text ln" value="" size="30" tabindex="1" />												
					</span>
				</li>
				
				<li id="foli1" class="notranslate      ">
					<label class="desc" id="title1" for="password">
						Verify<span id="req_2" class="req">*</span>
					</label>					
					<span>
						<input id="pass2" name="pass2" type="password" class="field text ln" value="" size="30" tabindex="2" />												
					</span>
				</li>																			

				<p class="button-style"><a href="javascript: submitform() " tabindex="3">Submit</a> </p>     
								
			</ul>
			
			</form>
			
			<script type="text/javascript">
			
			function ValidateEmail(mail)   
			{  
			 if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))  
			  {  
			    return (true)  
			  }  			    
			    return (false)  
			}  
										
			function submitform()
			{
				//var x=document.forms["form"].fistname.value;				
				var password = document.getElementById("password").value;
				var pass2 = document.getElementById("pass2").value;			
				
				if (password=="")
				{	
					alert("Fields can not be left blank");						
				}				
				else if(password!=pass2)
				{
					alert("Passwords entered didn't match");						
				}
				else
				{
				    document.forms["form"].submit();
				}
			}										
			</script>
			
			</div>
		
		</div>
		
	</div>
</div>

<% include elements/footer %>
</body>
</html>
